@font-face {
    font-family: art-deco-custom;
    src: url('sprites/art-deco.ttf');
    font-weight:400;
    font-weight:normal;
}

canvas {
    position: absolute;
}

body {
    word-spacing: 10px;
    padding: 0px;
    margin: 0px;
}

.fontLoader {
    position: absolute;
    left: -1000px;
    visibility: hidden;
}